# ./configure
Makefile
build/config_vars.mk
build/config_vars.sh
build/pkg/pkginfo
build/rules.mk
config.log
config.nice
config.status
docs/conf/extra/httpd-autoindex.conf
docs/conf/extra/httpd-dav.conf
docs/conf/extra/httpd-default.conf
docs/conf/extra/httpd-info.conf
docs/conf/extra/httpd-languages.conf
docs/conf/extra/httpd-manual.conf
docs/conf/extra/httpd-mpm.conf
docs/conf/extra/httpd-multilang-errordoc.conf
docs/conf/extra/httpd-ssl.conf
docs/conf/extra/httpd-userdir.conf
docs/conf/extra/httpd-vhosts.conf
docs/conf/extra/proxy-html.conf
docs/conf/httpd.conf
include/ap_config_auto.h
include/ap_config_layout.h
modules.c
modules/.deps
modules/Makefile
modules/aaa/.deps
modules/aaa/Makefile
modules/aaa/modules.mk
modules/arch/unix/.deps
modules/arch/unix/Makefile
modules/arch/unix/modules.mk
modules/arch/win32/.deps
modules/arch/win32/Makefile
modules/arch/win32/modules.mk
modules/cache/.deps
modules/cache/Makefile
modules/cache/modules.mk
modules/cluster/.deps
modules/cluster/Makefile
modules/cluster/modules.mk
modules/core/.deps
modules/core/Makefile
modules/core/modules.mk
modules/database/.deps
modules/database/Makefile
modules/database/modules.mk
modules/dav/fs/.deps
modules/dav/fs/Makefile
modules/dav/fs/modules.mk
modules/dav/lock/.deps
modules/dav/lock/Makefile
modules/dav/lock/modules.mk
modules/dav/main/.deps
modules/dav/main/Makefile
modules/dav/main/modules.mk
modules/debugging/.deps
modules/debugging/Makefile
modules/debugging/modules.mk
modules/echo/.deps
modules/echo/Makefile
modules/echo/modules.mk
modules/examples/.deps
modules/examples/Makefile
modules/examples/modules.mk
modules/experimental/.deps
modules/experimental/Makefile
modules/experimental/modules.mk
modules/filters/.deps
modules/filters/Makefile
modules/filters/modules.mk
modules/generators/.deps
modules/generators/Makefile
modules/generators/modules.mk
modules/http/.deps
modules/http/Makefile
modules/http/modules.mk
modules/http2/modules.mk
modules/ldap/.deps
modules/ldap/Makefile
modules/ldap/modules.mk
modules/loggers/.deps
modules/loggers/Makefile
modules/loggers/modules.mk
modules/lua/.deps
modules/lua/Makefile
modules/lua/modules.mk
modules/mappers/.deps
modules/mappers/Makefile
modules/mappers/modules.mk
modules/metadata/.deps
modules/metadata/Makefile
modules/metadata/modules.mk
modules/proxy/.deps
modules/proxy/Makefile
modules/proxy/balancers/.deps
modules/proxy/balancers/Makefile
modules/proxy/balancers/modules.mk
modules/proxy/modules.mk
modules/session/.deps
modules/session/Makefile
modules/session/modules.mk
modules/slotmem/.deps
modules/slotmem/Makefile
modules/slotmem/modules.mk
modules/ssl/.deps
modules/ssl/Makefile
modules/ssl/modules.mk
modules/test/.deps
modules/test/Makefile
modules/test/modules.mk
os/.deps
os/Makefile
os/unix/.deps
os/unix/Makefile
server/.deps
server/Makefile
server/mpm/.deps
server/mpm/Makefile
server/mpm/event/.deps
server/mpm/event/Makefile
server/mpm/event/modules.mk
srclib/.deps
srclib/Makefile
srclib/apr-util/Makefile
srclib/apr-util/apr-util.pc
srclib/apr-util/apu-1-config
srclib/apr-util/build/pkg/pkginfo
srclib/apr-util/build/rules.mk
srclib/apr-util/config.log
srclib/apr-util/config.nice
srclib/apr-util/config.status
srclib/apr-util/export_vars.sh
srclib/apr-util/include/apr_ldap.h
srclib/apr-util/include/apu.h
srclib/apr-util/include/apu_want.h
srclib/apr-util/include/private/apu_config.h
srclib/apr-util/include/private/apu_select_dbm.h
srclib/apr-util/test/Makefile
srclib/apr/Makefile
srclib/apr/apr-1-config
srclib/apr/apr.pc
srclib/apr/build/apr_rules.mk
srclib/apr/build/pkg/pkginfo
srclib/apr/config.log
srclib/apr/config.nice
srclib/apr/config.status
srclib/apr/include/apr.h
srclib/apr/include/arch/unix/apr_private.h
srclib/apr/libtool
srclib/apr/test/Makefile
srclib/apr/test/internal/Makefile
support/.deps
support/Makefile
support/apachectl
support/apxs
support/dbmmanage
support/envvars-std
support/log_server_status
support/logresolve.pl
support/phf_abuse_log.cgi
support/split-logfile
test/.deps
test/Makefile
